.search-bar {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

#search-form {
    display: flex;
    align-items: center;
}

#search-form input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-form button {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-bottom: 23px;
}

#search-form button:hover {
    background-color: #0056b3;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-list img {
    margin: 10px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}